{% extends 'app/layout/_layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block breadcrumb1 %}{% endblock %}
{% block breadcrumb2 %}{% endblock %}

{% block content %}
    <h2 class="mb-5">Willkommen zum Testlauf von capser!</h2>
    <p>Bitte w채hlen Sie die gew체nschte Funktion im Men체, der linken Seitenleiste. Die zur Verf체gung stehenden Funktionen werden kontinuierlich erweitert.</p>
    <p>Wenden Sie sich bei Fragen bitte an den Quarin Helpdesk: <a href="mailto:support@quarin.digital">support@quarin.digital</a>.</p>
{% endblock %}