/*--------------------------------------------------------------
# CHANGED BOOTSTRAP/SBADMIN
--------------------------------------------------------------*/

/* SBAdmin Custom - Logo im Menü (Kopf) verschönern */
.topnav .navbar-brand {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}
.topnav .navbar-brand img {
    height: 1rem;
    margin-top: -2px;
    margin-right: 4px;
}
.topnav.navbar-light .navbar-brand {
    color: var(--cp-color-primary);
}

/* SBAdmin Custom - Navigation Sidebar verschönern */
.sidenav-light .sidenav-menu .nav-link
{
    color: var(--cp-color-primary-light);
    text-decoration: none;
}
.sidenav-light .sidenav-menu .nav-link:hover,
.sidenav-light .sidenav-menu .nav-link.active
{
    color: var(--cp-color-primary);
    text-decoration: none;
}
.sidenav-light .sidenav-menu .nav-link.active .nav-link-icon
{
    color: var(--cp-color-primary);
}

/* SBAdmin Custom - Navigation User Menu verschönern */
.nav-borders .nav-link.active {
    color: var(--cp-color-primary);
    border-bottom-color: var(--cp-color-primary);
}
.dropdown-item.active, .dropdown-item:active {
    background-color: var(--cp-color-primary);
}

/* SBAdmin Custom - Steps verschönern */
.step-primary .step-item .step-item-link {
    color: var(--cp-color-primary);
}
.step-primary .step-item .step-item-link::before {
    background-color: var(--cp-color-primary);
}
.step-primary .step-item:not(:first-child)::before {
    background-color: var(--cp-color-primary);
}

/* Bootstrap Custom - Etwas schlankere Tabellen */
.table > :not(caption) > * > *, .datatable-table > :not(caption) > * > * {
    padding: 0.4rem 0.5rem;
}

/* Bootstrap Custom - Cards verschönern */
.card:not([class*=bg-]) .card-header {
    color: var(--cp-color-primary);
}

/* SBAdmin Custom - Page Header in Capser-Farben */
.bg-gradient-primary-to-secondary {
    background-color: var(--cp-color-primary) !important;
    background-image: linear-gradient(135deg, var(--cp-color-primary) 0%, var(--cp-color-primary-light) 100%) !important;
}

.text-primary {
    color: var(--cp-color-primary) !important;
}

/*--------------------------------------------------------------
# CHANGED UX AUTOCOMPLETE (Tom-Select)
--------------------------------------------------------------*/

.ts-dropdown {
    background: #fff !important;
}
.ts-dropdown .active {
    color: #343a40 !important;
}
.ts-control {
    color: #69707a !important;
}
    /* Fix in Zusammenhang mit: https://github.com/orchidjs/tom-select/issues/579 */
.form-floating .ts-control {
    padding-top: 1.625rem;
    padding-bottom: .625rem;
    padding-left: 18px;
}

/*--------------------------------------------------------------
# OWN ELEMENTS
--------------------------------------------------------------*/

.img-account-profile {
    height: 15rem;
}

.logo img {
    max-height: 26px;
}

.table .id-column, .table .action-column {
    width: 1%;
}

.table .action-column {
    text-align: right;
    vertical-align: middle;
    text-wrap: nowrap;
}

.table .action-column a:not(:last-of-type) {
    margin-right: 0.3rem;
}

.row .collapse-arrow {
    display: inline-block;
    margin-left: auto;
    transition: transform 0.15s ease;
    color: #a7aeb8;
    cursor: pointer;
}
.row.collapsed .collapse-arrow {
    transform: rotate(-90deg);
}

/** TODO: hier brauchen wir noch eine etwas schönere Lösung, weil die fehlenden Pixel am Ende der Zeile mit Weissraum unschick aufgefüllt werden */
.row .collapse-arrow-col {
    max-width: 40px;
}

.div-table {
    .row > * {
        padding: 0.4rem 0.5rem;
    }

    .div-table-head {
        color: var(--cp-color-primary-light);
        font-weight: 700;
        border-bottom-color: rgb(224, 229, 236);
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    .div-table-body {
        border-bottom-color: rgb(224, 229, 236);
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
}

tr.clickable {
    cursor: pointer;
}