{% extends 'info/_layout.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="pb-2 mb-4 border-bottom">Impressum</h2>

    <h3>Anbieter</h3>

    <h4>Quarin GmbH</h4>
    <p>
        Am Hohengeren 7<br>
        70188 Stuttgart<br>
        Deutschland
    </p>
    <p>
        <b>Geschäftsführer:</b><br>
        Konstantin Bingmann
    </p>
    <p>
        <b>Registereintragung:</b><br>
        Registergericht: Amtsgericht Stuttgart<br>
        Registernummer: HRB 783876
    </p>
    <p>
        <b>Steuerinformationen:</b><br>
        USt-IdNr.: DE47114711
    </p>

    <h4 class="pt-2">Kontakt</h4>
    <p>
        Telefon: +49 711 471147<br>
        E-Mail: info@example.com
    </p>

    <h4 class="pt-2">Inhaltlich Verantwortlicher</h4>
    <p>
        Konstantin Bingmann<br>
        Am Hohengeren 7<br>
        70188 Stuttgart<br>
        Deutschland
    </p>

    <h3>Rechtliche Hinweise</h3>
    <h4>Online-Streitbeilegung</h4>
    <p>
        Verbraucherinformation gemäß Verordnung EU Nr. 524/2013: Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr">https://ec.europa.eu/consumers/odr</a>. Verbraucher haben die Möglichkeit, diese Plattform für die Beilegung ihrer Streitigkeiten zu nutzen.
        Unsere E-Mail-Adresse lautet: info@example.com.
    </p>
    <p>
        Verbraucherinformation gemäß Verbraucherstreitbeilegungsgesetz (VSBG): Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.<br>
    </p>

    <h4 class="pt-2">Haftungshinweis</h4>
    <p>
        Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Die Quarin GmbH übernimmt jedoch keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte. <br>
    </p>
    <p>
        Unsere Seiten enthalten Links zu externen Seiten. Auf diese externen Inhalte hat die Quarin GmbH keinen Einfluss und kann daher keine Gewähr für sie übernehmen. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft, eine permanente inhaltliche Kontrolle ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
    </p>

    <h4 class="pt-2">Urheberrecht</h4>
    <p>
        Alle Rechte zum Schutze geistigen Eigentums auf unseren Seiten liegen bei der Quarin GmbH oder ihren Lizenzgebern. Ohne die vorherige schriftliche Zustimmung der Quarin GmbH dürfen Sie die Inhalte weder ganz noch teilweise vervielfältigen, bearbeiten, verbreiten, öffentlich wiedergegeben oder in sonstiger Form nutzen.
    </p>
</div>
{% endblock %}
