{% extends 'guest/_layout.html.twig' %}

{% block title %}Passwort vergessen{% endblock %}

{% block content %}
    <div class="pb-1">
        <h5 class="card-title text-center">Passwort vergessen</h5>
        <p class="text-center">Um ein neues Passwort zu erhalten, wenden Sie sich bitte an den Helpdesk.</p>
    </div>
    <div class="row g-3">
        <div class="col-12">
            <a href="{{ path('imprint') }}" class="btn btn-lg btn-primary w-100">Kontakt</a>
        </div>
        <div class="col-12">
            <a href="{{ path('login') }}" class="btn btn-lg btn-outline-primary w-100">Zurück</a>
        </div>
    </div>
{% endblock %}